html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
    font-weight: bolder;
    font-size: 18px;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
.el-button{
    font-weight: bolder;
}
.el-card{
    margin-bottom: 10px;
}
::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }